@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h1>
       Oh no!!! An Error occured!!! What are we going to do???
    </h1>
    <p>
        <b>Connectionstring:</b> @System.Configuration.ConfigurationManager.AppSettings["MONGOHQ_URL"]
    </p>
    <p>
        <b>Controller:</b> @Model.ControllerName
    </p>
    <p>
        <b>Action:</b> @Model.ActionName
    </p>
    <p>
        <b>Message:</b> @Model.Exception.Message
    </p>
    <pre>
        @Model.Exception.StackTrace
    </pew>
</body>
</html>